 <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <!-- register heading -->
      <h1 class="text-center mt-3">Register</h1>
      
      <!-- registration form -->
      <form action="/users/register" method="POST">
        <!-- name input field -->
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" value="{{ name }}">
        </div>
        
        <!-- email input field -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="{{ email }}">
        </div>
        
        <!-- password input field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" value="{{ password }}">
        </div>
        
        <!-- register button -->
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
      
      <!-- login link -->
      <p class="lead mt-4">
        Already have An Account? <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
</div>