 <form action="/tasks" method='POST'>
    <!-- input field for task title -->
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter Title here..." id="task" name="name" autofocus><br><br><br>
        
        <!-- input field for task description -->
        <input type="text" class="form-control" placeholder="Enter Description here..." id="description" name="description"><br><br>
        
        <!-- button to submit the form -->
        <div class="input-group-btn submitform">
            <button id="create" class="btn btn-primary" type="submit" name="submit">submit</button>
        </div>
    </div>
</form>