* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/TaskWiz-Background.jpg);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color: #f6fafb;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

form {
    margin: auto 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#task {
    font-size: 1.75em;
}

#submit {
    margin: 10px;
    padding: 10px;
    font-size: 1.25em;
    border: none;
    border-radius: 5px;
    background-color: #f6fafb;
}